@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is my blog, if you want to steal my blog stuff, don't. Easy. If you do I will find you, and I will kill you, just like Liam Neeson</p>
